@model DarulAman.Models.tbl_Donation

@{
    ViewBag.Title = "Delete";
}


<h1 class="customh1">Delete</h1>
<h5 class="customdel">Are You sure you want to Delete this?</h5>
<div>
    <hr />
    <dl class="d-lg-inline-flex" style="margin:0 0 5rem 0">
        <dt class="Customdt">
            FIRST_NAME
        </dt>

        <dd class="customdd">
            @Html.DisplayFor(model => model.FIRST_NAME)
        </dd>

        <dt class="Customdt">
            LAST_NAME
        </dt>

        <dd class="customdd">
            @Html.DisplayFor(model => model.LAST_NAME)
        </dd>

        <dt class="Customdt">
            EMAIL
        </dt>

        <dd class="customdd">
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dt class="Customdt">
            AMOUNT
        </dt>

        <dd class="customdd">
            @Html.DisplayFor(model => model.AMOUNT)
        </dd>

        <dt class="Customdt">
            STATUS
        </dt>

        <dd class="customdd">
            @Html.DisplayFor(model => model.STATUS)
        </dd>

        <dt class="Customdt">
            DATE
        </dt>

        <dd class="customdd">
            @Html.DisplayFor(model => model.DATE)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" align="center">
                <a href="@Url.Action("Index","tbl_Donation")" class="indexback">Back to Index</a> |
                <button class="custombtn">Delete</button>
            </div>
        </div>
    }
</div>